@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: white;
}

.transition {
  transition: all 0.3s ease-in-out;
}



.shadows {
  box-shadow: 0 0 50px 0 rgba(29, 35, 58, 0.1);
}

